build/login.html
<!DOCTYPE html>
<html lang="fr">
  <head>
    <title>Login</title>
    <!-- Standard SEO-->
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=0">
    <meta name="robots" content="all">
    <!-- {{ seomaticMeta.robots }}-->
    <meta name="keywords" content="">
    <!-- {{ seomaticMeta.seoKeywords }}-->
    <meta name="description" content="">
    <!-- {{ seomaticMeta.seoDescription }}-->
    <meta name="generator" content="SEOmatic">
    <!-- SEOmatic-->
    <link rel="canonical" href="">
    <!-- {{ seomaticMeta.canonicalUrl }} (defaults to craft.request.url)-->
    <link rel="alternate" href="" hreflang="x-default">
    <meta name="geo.region" content="">
    <!-- {{ seomaticIdentity.address.addressRegion }}-->
    <meta name="geo.position" content="">
    <!-- {{ seomaticIdentity.location.geo.latitude }},{{ seomaticIdentity.location.geo.longitude }}-->
    <meta name="ICBM" content="">
    <!-- {{ seomaticIdentity.location.geo.latitude }},{{ seomaticIdentity.location.geo.longitude }}-->
    <meta name="geo.placename" content="">
    <!-- {{ seomaticIdentity.location.name }}-->
    <!-- Dublin Core basic info-->
    <meta name="dcterms.Identifier" content="">
    <!-- {{ seomaticMeta.canonicalUrl }} (defaults to craft.request.url)-->
    <meta name="dcterms.Format" content="text/html">
    <!-- text/html-->
    <meta name="dcterms.Relation" content="">
    <!-- {{ seomaticSiteMeta.siteSeoName }}-->
    <meta name="dcterms.Language" content="ar">
    <!-- {{ craft.locale }}-->
    <meta name="dcterms.Publisher" content="">
    <!-- {{ seomaticSiteMeta.siteSeoName }}-->
    <meta name="dcterms.Type" content="text/html">
    <!-- text/html-->
    <meta name="dcterms.Coverage" content="">
    <!-- {{ siteUrl }}-->
    <meta name="dcterms.Rights" content="">
    <!-- {{ seomaticHelper.ownerCopyrightNotice }}-->
    <meta name="dcterms.Title" content="">
    <!-- {{ seomaticMeta.seoTitle }}-->
    <meta name="dcterms.Creator" content="">
    <!-- {{ seomaticCreator.name }}-->
    <meta name="dcterms.Subject" content="">
    <!-- {{ seomaticMeta.seoKeywords }}-->
    <meta name="dcterms.Contributor" content="">
    <!-- {{ seomaticSiteMeta.siteSeoName }}-->
    <meta name="dcterms.Date" content="">
    <!-- {{ now | date('Y-m-d') }}-->
    <meta name="dcterms.Description" content="">
    <!-- {{ seomaticMeta.seoDescription }}-->
    <!-- Facebook OpenGraph-->
    <meta property="og:type" content="website">
    <!-- {{ seomatic.og.type }}-->
    <meta property="og:locale" content="fr_FR">
    <!-- {{ seomatic.og.locale }}-->
    <meta property="og:url" content="">
    <!-- {{ seomatic.og.url }}-->
    <meta property="og:title" content="">
    <!-- {{ seomatic.og.title }}-->
    <meta property="og:description" content="">
    <!-- {{ seomatic.og.description }}-->
    <meta property="og:image" content="">
    <!-- {{ seomatic.og.image }}-->
    <meta property="og:image:type" content="image/png">
    <!-- {{ seomatic.og.image:type }}-->
    <meta property="og:image:width" content="2400">
    <!-- {{ seomatic.og.image:width }}-->
    <meta property="og:image:height" content="1260">
    <!-- {{ seomatic.og.image:height }}-->
    <meta property="og:site_name" content="">
    <!-- {{ seomatic.og.site_name }}-->
    <meta property="og:see_also" content="">
    <!-- {{ seomatic.og.see_also[0] }}-->
    <meta property="og:see_also" content="">
    <!-- {{ seomatic.og.see_also[1] }}-->
    <meta property="og:see_also" content="">
    <!-- {{ seomatic.og.see_also[2] }}-->
    <!-- Twitter Card-->
    <meta name="twitter:card" content="">
    <!-- {{ seomatic.twitter.card }}-->
    <meta name="twitter:site" content="">
    <!-- {{ seomatic.twitter.site }}-->
    <meta name="twitter:creator" content="">
    <!-- {{ seomatic.twitter.creator }}-->
    <meta name="twitter:title" content="">
    <!-- {{ seomatic.twitter.title }}-->
    <meta name="twitter:description" content="">
    <!-- {{ seomatic.twitter.description }}-->
    <meta name="twitter:image" content="">
    <!-- {{ seomatic.twitter.image }}-->
    <!-- Humans.txt authorship http://humanstxt.org-->
    <link type="text/plain" rel="author" href="">
    <!-- Domain verification-->
    <meta name="google-site-verification" content="">
    <!-- {{ seomaticHelper.ownerGoogleSiteVerification }}-->
    <!-- Google Tag Manager-->
    <!-- Google Analytics-->
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/media/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/assets/media/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/media/favicon-16x16.png" sizes="16x16">
    <link rel="mask-icon" href="/assets/media/safari-pinned-tab.svg" color="#3060A4">
    <link rel="shortcut icon" href="/assets/media/favicon.ico">
    <meta name="msapplication-TileColor" content="#3060A4">
    <meta name="theme-color" content="#3060A4">
    <!--[if lt IE 9]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <link rel="stylesheet" href="assets/styles/appStyle.css">
    <link rel="stylesheet" href="assets/styles/styles-lesing-enligne.css">
  </head>
  <body class="login __theme_ml">
    <main class="app app__theme_ml">
      <div class="page page-login">
        <div class="page-content">
          <div class="content">
            <div class="page-account">
              <div class="login-container">
                <div class="logo">
                  <img src="../build/assets/media/images/logos/logo.svg" />
                </div>
                <div class="div panel page-login_panel">
                  <div class="panel-heading panel-heading-divider align-center">
                    <div class="panel-heading_content">
                      <span class="panel-subtitle">Espace Client</span>
                    </div>
                  </div>
                  <div class="panel-body">
                    <div class="cards-toslide">
                      <div class="cards-toslide_content js-card-toslide_content">
                        <div class="card-toslide">
                          <div class="card-toslide_content">
                            <form class="page-login_form j-hasValidation" method="" action="/dashboard.html">
                              <fieldset>
                                <div class="row">
                                  <div class="column large-12 small-12 medium-12">
                                    <div class="c-input__holder floating">
                                      <div class="c-form__item hasicon">
                                        <input class="required email" id="input--text--01" type="text" name="identifiant" placeholder="" required data-error-msg="test error ">
                                        <label for="input--text--01">Identifiant<span class="required">*</span></label><i class="ico-feedback c-fmlnet__user-administrator"></i>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="column large-12 small-12 medium-12">
                                    <div class="c-input__holder floating">
                                      <div class="c-form__item">
                                        <input class="required j-password_field" id="input--password" type="password" name="password" placeholder="" required>
                                        <label for="input--password">Mot de passe<span class="required">*</span></label><i class="c-fmlnet__visibility-off j-toggle-password-on"></i>
                                      </div>
                                    </div>
                                  </div>
                                  <div class="column large-12 small-12 medium-12">
                                    <div class="align-right"><a class="button clear xmedium j-cards-toslide_action" href=""><span>Mot de passe oublié?</span><i class="c-fmlnet__arrow--right"></i></a></div>
                                  </div>
                                  <div class="column large-12 small-12 medium-12">
                                    <div class="c-action__holder">
                                      <button class="button primary expanded" type="submit"><span>Se connecter</span></button>
                                    </div>
                                  </div>
                                </div>
                              </fieldset>
                            </form>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </main>
    <script type="text/javascript" data-main="assets/scripts/main.min.js" src="assets/scripts/vendor/require.js"></script>
    <!--script(type='text/javascript')// include assets/scripts/main.min.js
    -->
    <!--script(type='text/javascript' data-main="assets/scripts/main.js")// include assets/scripts/vendor/require.js
    -->
  </body>
</html>

app/views/login.pug
//- layout
extends layouts/_login

//- settings

append vars
    - var pageTitle = 'Login'
    - var pageClass = 'login __theme_ml'
    - var selectedMenu = ''

append body
            .page-account
                .login-container


                        .div(class="panel page-login_panel")
                            .panel-heading.panel-heading-divider.align-center
                                div.panel-heading_content
                                    | FRONT LEASING
                                    span.panel-subtitle ESPACE PARTENAIRE
                                    .panel-brand_icon
                                        img(src='/assets/media/images/logos/logo-ico-marocleasing.svg', alt="")
                            .panel-body

                                .cards-toslide
                                    .cards-toslide_content.js-card-toslide_content
                                        .card-toslide
                                            .card-toslide_content
                                                form.page-login_form.j-hasValidation(method='' action="/dashboard.html")
                                                    fieldset
                                                        .row
                                                            .column.large-12.small-12.medium-12
                                                                .c-input__holder.floating
                                                                    .c-form__item.hasicon
                                                                        input#input--text--01(type='text', name="identifiant", placeholder='', required, class="required email", data-error-msg="test error ")
                                                                        label(for='input--text--01')
                                                                            | Identifiant
                                                                            span.required *
                                                                        i.ico-feedback.c-fmlnet__user-administrator
                                                            .column.large-12.small-12.medium-12
                                                                .c-input__holder.floating

                                                                    .c-form__item
                                                                        input#input--password(type='password', name="password", placeholder='', required, class="required j-password_field")
                                                                        label(for='input--password')
                                                                            | Mot de passe
                                                                            span.required *
                                                                        i.c-fmlnet__visibility-off.j-toggle-password-on

                                                            .column.large-12.small-12.medium-12
                                                                .align-center
                                                                    a(class="button clear hasicon_right xmedium j-cards-toslide_action", href='')
                                                                        span Mot de passe oublié?
                                                                        i.c-fmlnet__arrow--right

                                                            .column.large-12.small-12.medium-12
                                                                .c-action__holder
                                                                    button.button.primary.hasicon_right.expanded(type="submit")
                                                                        span Se connecter
                                                                        i.c-fmlnet__arrow--right

                                        .card-toslide
                                            .card-toslide_content
                                                .card-toslide_heading
                                                    .panel-heading.align-center.panel-heading_default.panel-heading_small
                                                        div.panel-heading_content
                                                            | Mot de passe oublié?
                                                            span.panel-subtitle Mot de passe perdu? Veuillez saisir votre identifiant ou adresse mail. Vous recevrez un lien pour créer un nouveau mot de passe par courrier électronique.

                                                .card-toslide_body
                                                    form.page-login_form.j-hasValidation(method='post')
                                                        fieldset
                                                            .row
                                                                .column.large-12.small-12.medium-12
                                                                    .c-input__holder.floating
                                                                        .c-form__item.hasicon
                                                                            input#inputemail(type='text', name="inputemail", placeholder='', required, class="required email", data-error-msg="test error ")
                                                                            label(for='inputemail')
                                                                                | Identifiant
                                                                                span.required *
                                                                            i.ico-feedback.c-fmlnet__user-administrator
                                                                .column.large-12.small-12.medium-12
                                                                    .align-center
                                                                        a(class="button clear hasicon_left xmedium j-cards-toslide_action", href='')
                                                                            i.c-fmlnet__arrow--left
                                                                            span Retourner à la page d'identification

                                                                .column.large-12.small-12.medium-12
                                                                    .c-action__holder
                                                                        button.button.primary.hasicon_right.expanded(type="submit")
                                                                            span Réinitialiser
                                                                            i.c-fmlnet__arrow--right
